* {
border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 97%;
    min-height: 0;
    transition: 0.3s;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #ffffff;
}
window#waybar.hidden {
  opacity: 0.5;
}


#cpu,
#disk,
#memory,
#custom-updates,
#bluetooth,
#network,
#clock,
#workspaces,
#window,
#updates,
#temperature {
    background: #16181a;
    color: #ffffff;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 0;
    margin-top: 5px;
margin-right: 2px;
margin-left: 2px;
border-radius: 20px;


}

tooltip {
    background: #16181a;
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    transition: 0.3s;
}

#workspaces button {
    padding: 5px;
    color: #ffffff;
    margin-right: 5px;
}

#workspaces button.active {
    color: #ff5ef1;
}

